In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [7]:
dates = pd.date_range('20130101', periods=6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01  0.440352  0.749314 -0.228524  1.556074
2013-01-02  0.257157  0.880324 -0.555623 -1.550080
2013-01-03  0.901232  1.903879  0.049761 -1.623407
2013-01-04 -1.080421  1.181802 -0.291768  1.783329
2013-01-05 -0.844816  0.640285 -0.812574 -1.488825
2013-01-06 -0.605557  0.879980  0.007168  0.596416

In [12]:
df2 = pd.DataFrame({'A' : 1., 
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})

In [13]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [28]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-28-e8d0e54abc86>, line 1)

In [29]:
df.head()

                   A         B         C         D
2013-01-01  0.440352  0.749314 -0.228524  1.556074
2013-01-02  0.257157  0.880324 -0.555623 -1.550080
2013-01-03  0.901232  1.903879  0.049761 -1.623407
2013-01-04 -1.080421  1.181802 -0.291768  1.783329
2013-01-05 -0.844816  0.640285 -0.812574 -1.488825

In [30]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.080421  1.181802 -0.291768  1.783329
2013-01-05 -0.844816  0.640285 -0.812574 -1.488825
2013-01-06 -0.605557  0.879980  0.007168  0.596416

In [31]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [32]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [33]:
df.values

array([[ 0.44035221,  0.7493136 , -0.22852356,  1.55607424],
       [ 0.25715748,  0.88032382, -0.5556233 , -1.55008026],
       [ 0.90123185,  1.90387949,  0.04976056, -1.6234073 ],
       [-1.08042082,  1.18180229, -0.29176801,  1.78332889],
       [-0.84481605,  0.64028468, -0.81257424, -1.4888248 ],
       [-0.60555707,  0.87997967,  0.00716799,  0.59641581]])

In [34]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.155342  1.039264 -0.305260 -0.121082
std    0.796893  0.460818  0.331593  1.620134
min   -1.080421  0.640285 -0.812574 -1.623407
25%   -0.785001  0.781980 -0.489659 -1.534766
50%   -0.174200  0.880152 -0.260146 -0.446204
75%    0.394554  1.106433 -0.051755  1.316160
max    0.901232  1.903879  0.049761  1.783329

In [35]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.440352    0.257157    0.901232   -1.080421   -0.844816   -0.605557
B    0.749314    0.880324    1.903879    1.181802    0.640285    0.879980
C   -0.228524   -0.555623    0.049761   -0.291768   -0.812574    0.007168
D    1.556074   -1.550080   -1.623407    1.783329   -1.488825    0.596416

In [36]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.556074 -0.228524  0.749314  0.440352
2013-01-02 -1.550080 -0.555623  0.880324  0.257157
2013-01-03 -1.623407  0.049761  1.903879  0.901232
2013-01-04  1.783329 -0.291768  1.181802 -1.080421
2013-01-05 -1.488825 -0.812574  0.640285 -0.844816
2013-01-06  0.596416  0.007168  0.879980 -0.605557

In [37]:
df.sort(columns='B')

                   A         B         C         D
2013-01-05 -0.844816  0.640285 -0.812574 -1.488825
2013-01-01  0.440352  0.749314 -0.228524  1.556074
2013-01-06 -0.605557  0.879980  0.007168  0.596416
2013-01-02  0.257157  0.880324 -0.555623 -1.550080
2013-01-04 -1.080421  1.181802 -0.291768  1.783329
2013-01-03  0.901232  1.903879  0.049761 -1.623407

In [38]:
df['A']

2013-01-01    0.440352
2013-01-02    0.257157
2013-01-03    0.901232
2013-01-04   -1.080421
2013-01-05   -0.844816
2013-01-06   -0.605557
Freq: D, Name: A, dtype: float64

In [39]:
df[0:3]

                   A         B         C         D
2013-01-01  0.440352  0.749314 -0.228524  1.556074
2013-01-02  0.257157  0.880324 -0.555623 -1.550080
2013-01-03  0.901232  1.903879  0.049761 -1.623407

In [40]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.257157  0.880324 -0.555623 -1.550080
2013-01-03  0.901232  1.903879  0.049761 -1.623407
2013-01-04 -1.080421  1.181802 -0.291768  1.783329

In [41]:
df.loc[dates[0]]

A    0.440352
B    0.749314
C   -0.228524
D    1.556074
Name: 2013-01-01 00:00:00, dtype: float64

In [42]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.440352  0.749314
2013-01-02  0.257157  0.880324
2013-01-03  0.901232  1.903879
2013-01-04 -1.080421  1.181802
2013-01-05 -0.844816  0.640285
2013-01-06 -0.605557  0.879980

In [43]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.257157  0.880324
2013-01-03  0.901232  1.903879
2013-01-04 -1.080421  1.181802

In [44]:
df.loc['20130102',['A','B']]

A    0.257157
B    0.880324
Name: 2013-01-02 00:00:00, dtype: float64

In [45]:
df.loc[dates[0],'A']

0.44035221265523444

In [46]:
df.iloc[3]

A   -1.080421
B    1.181802
C   -0.291768
D    1.783329
Name: 2013-01-04 00:00:00, dtype: float64

In [47]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -1.080421  1.181802
2013-01-05 -0.844816  0.640285

In [48]:
df.iloc[[1,2,4,],[0,2]]

                   A         C
2013-01-02  0.257157 -0.555623
2013-01-03  0.901232  0.049761
2013-01-05 -0.844816 -0.812574

In [49]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  0.257157  0.880324 -0.555623 -1.550080
2013-01-03  0.901232  1.903879  0.049761 -1.623407

In [50]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.749314 -0.228524
2013-01-02  0.880324 -0.555623
2013-01-03  1.903879  0.049761
2013-01-04  1.181802 -0.291768
2013-01-05  0.640285 -0.812574
2013-01-06  0.879980  0.007168

In [51]:
df.iloc[1,1]

0.88032382293635592

In [52]:
df.iat[1,1]

0.88032382293635592

In [53]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.440352  0.749314 -0.228524  1.556074
2013-01-02  0.257157  0.880324 -0.555623 -1.550080
2013-01-03  0.901232  1.903879  0.049761 -1.623407

In [54]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.440352  0.749314       NaN  1.556074
2013-01-02  0.257157  0.880324       NaN       NaN
2013-01-03  0.901232  1.903879  0.049761       NaN
2013-01-04       NaN  1.181802       NaN  1.783329
2013-01-05       NaN  0.640285       NaN       NaN
2013-01-06       NaN  0.879980  0.007168  0.596416

In [55]:
df2 = df.copy()

In [56]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [57]:
df2

                   A         B         C         D      E
2013-01-01  0.440352  0.749314 -0.228524  1.556074    one
2013-01-02  0.257157  0.880324 -0.555623 -1.550080    one
2013-01-03  0.901232  1.903879  0.049761 -1.623407    two
2013-01-04 -1.080421  1.181802 -0.291768  1.783329  three
2013-01-05 -0.844816  0.640285 -0.812574 -1.488825   four
2013-01-06 -0.605557  0.879980  0.007168  0.596416  three

In [59]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [60]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [62]:
df['F']=s1

In [63]:
df.at[dates[0],'A'] = 0

In [64]:
df.iat[0,1] = 0

In [65]:
df.loc[:, 'D'] = np.array([5] * len(df))

In [66]:
df

                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -0.228524  5 NaN
2013-01-02  0.257157  0.880324 -0.555623  5   1
2013-01-03  0.901232  1.903879  0.049761  5   2
2013-01-04 -1.080421  1.181802 -0.291768  5   3
2013-01-05 -0.844816  0.640285 -0.812574  5   4
2013-01-06 -0.605557  0.879980  0.007168  5   5

In [67]:
df2 = df.copy()

In [68]:
df2[df2 > 0] = -df2

In [69]:
df2

                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -0.228524 -5 NaN
2013-01-02 -0.257157 -0.880324 -0.555623 -5  -1
2013-01-03 -0.901232 -1.903879 -0.049761 -5  -2
2013-01-04 -1.080421 -1.181802 -0.291768 -5  -3
2013-01-05 -0.844816 -0.640285 -0.812574 -5  -4
2013-01-06 -0.605557 -0.879980 -0.007168 -5  -5

In [70]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [72]:
df1.loc[dates[0]:dates[1], 'E'] = 1

In [73]:
df1

                   A         B         C  D   F   E
2013-01-01  0.000000  0.000000 -0.228524  5 NaN   1
2013-01-02  0.257157  0.880324 -0.555623  5   1   1
2013-01-03  0.901232  1.903879  0.049761  5   2 NaN
2013-01-04 -1.080421  1.181802 -0.291768  5   3 NaN

In [74]:
df1.dropna(how='any')

                   A         B         C  D  F  E
2013-01-02  0.257157  0.880324 -0.555623  5  1  1

In [75]:
df1.fillna(value=5)

                   A         B         C  D  F  E
2013-01-01  0.000000  0.000000 -0.228524  5  5  1
2013-01-02  0.257157  0.880324 -0.555623  5  1  1
2013-01-03  0.901232  1.903879  0.049761  5  2  5
2013-01-04 -1.080421  1.181802 -0.291768  5  3  5

In [76]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True