In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01  1.529070  0.504808 -0.301675  0.457691
2013-01-02 -0.895165  1.005173  0.725539 -1.090235
2013-01-03  1.964241 -0.037048  0.372715 -0.692047
2013-01-04 -0.103454  0.494479 -0.733502 -0.642855
2013-01-05  1.296678 -1.152374  0.700991 -1.350380
2013-01-06  0.067571  1.199930  0.295533 -1.406341

In [10]:
df2 = pd.DataFrame({'A' : 1., 
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})

In [11]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-13-e8d0e54abc86>, line 1)

In [14]:
df.head()

                   A         B         C         D
2013-01-01  1.529070  0.504808 -0.301675  0.457691
2013-01-02 -0.895165  1.005173  0.725539 -1.090235
2013-01-03  1.964241 -0.037048  0.372715 -0.692047
2013-01-04 -0.103454  0.494479 -0.733502 -0.642855
2013-01-05  1.296678 -1.152374  0.700991 -1.350380

In [15]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.103454  0.494479 -0.733502 -0.642855
2013-01-05  1.296678 -1.152374  0.700991 -1.350380
2013-01-06  0.067571  1.199930  0.295533 -1.406341

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [17]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [18]:
df.values

array([[ 1.52906963,  0.50480766, -0.30167499,  0.45769059],
       [-0.89516523,  1.0051732 ,  0.72553875, -1.09023473],
       [ 1.96424135, -0.03704778,  0.37271497, -0.6920474 ],
       [-0.10345436,  0.49447869, -0.73350153, -0.64285452],
       [ 1.29667834, -1.152374  ,  0.70099133, -1.35038028],
       [ 0.06757115,  1.19992974,  0.29553261, -1.40634106]])

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.643157  0.335828  0.176600 -0.787361
std    1.114662  0.848787  0.580682  0.688764
min   -0.895165 -1.152374 -0.733502 -1.406341
25%   -0.060698  0.095834 -0.152373 -1.285344
50%    0.682125  0.499643  0.334124 -0.891141
75%    1.470972  0.880082  0.618922 -0.655153
max    1.964241  1.199930  0.725539  0.457691

In [20]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.529070   -0.895165    1.964241   -0.103454    1.296678    0.067571
B    0.504808    1.005173   -0.037048    0.494479   -1.152374    1.199930
C   -0.301675    0.725539    0.372715   -0.733502    0.700991    0.295533
D    0.457691   -1.090235   -0.692047   -0.642855   -1.350380   -1.406341

In [21]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.457691 -0.301675  0.504808  1.529070
2013-01-02 -1.090235  0.725539  1.005173 -0.895165
2013-01-03 -0.692047  0.372715 -0.037048  1.964241
2013-01-04 -0.642855 -0.733502  0.494479 -0.103454
2013-01-05 -1.350380  0.700991 -1.152374  1.296678
2013-01-06 -1.406341  0.295533  1.199930  0.067571

In [22]:
df.sort(columns='B')

                   A         B         C         D
2013-01-05  1.296678 -1.152374  0.700991 -1.350380
2013-01-03  1.964241 -0.037048  0.372715 -0.692047
2013-01-04 -0.103454  0.494479 -0.733502 -0.642855
2013-01-01  1.529070  0.504808 -0.301675  0.457691
2013-01-02 -0.895165  1.005173  0.725539 -1.090235
2013-01-06  0.067571  1.199930  0.295533 -1.406341

In [23]:
df['A']

2013-01-01    1.529070
2013-01-02   -0.895165
2013-01-03    1.964241
2013-01-04   -0.103454
2013-01-05    1.296678
2013-01-06    0.067571
Freq: D, Name: A, dtype: float64

In [24]:
df[0:3]

                   A         B         C         D
2013-01-01  1.529070  0.504808 -0.301675  0.457691
2013-01-02 -0.895165  1.005173  0.725539 -1.090235
2013-01-03  1.964241 -0.037048  0.372715 -0.692047

In [25]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.895165  1.005173  0.725539 -1.090235
2013-01-03  1.964241 -0.037048  0.372715 -0.692047
2013-01-04 -0.103454  0.494479 -0.733502 -0.642855

In [26]:
df.loc[dates[0]]

A    1.529070
B    0.504808
C   -0.301675
D    0.457691
Name: 2013-01-01 00:00:00, dtype: float64

In [27]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  1.529070  0.504808
2013-01-02 -0.895165  1.005173
2013-01-03  1.964241 -0.037048
2013-01-04 -0.103454  0.494479
2013-01-05  1.296678 -1.152374
2013-01-06  0.067571  1.199930

In [28]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.895165  1.005173
2013-01-03  1.964241 -0.037048
2013-01-04 -0.103454  0.494479

In [29]:
df.loc['20130102',['A','B']]

A   -0.895165
B    1.005173
Name: 2013-01-02 00:00:00, dtype: float64

In [30]:
df.loc[dates[0],'A']

1.5290696303336211

In [31]:
df.at[dates[0], 'A']

1.5290696303336211

In [32]:
df.iloc[3]

A   -0.103454
B    0.494479
C   -0.733502
D   -0.642855
Name: 2013-01-04 00:00:00, dtype: float64

In [33]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.103454  0.494479
2013-01-05  1.296678 -1.152374

In [34]:
df.iloc[[1,2,4,],[0,2]]

                   A         C
2013-01-02 -0.895165  0.725539
2013-01-03  1.964241  0.372715
2013-01-05  1.296678  0.700991

In [35]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.895165  1.005173  0.725539 -1.090235
2013-01-03  1.964241 -0.037048  0.372715 -0.692047

In [36]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.504808 -0.301675
2013-01-02  1.005173  0.725539
2013-01-03 -0.037048  0.372715
2013-01-04  0.494479 -0.733502
2013-01-05 -1.152374  0.700991
2013-01-06  1.199930  0.295533

In [37]:
df.iloc[1,1]

1.0051731983220009

In [38]:
df.iat[1,1]

1.0051731983220009

In [39]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  1.529070  0.504808 -0.301675  0.457691
2013-01-03  1.964241 -0.037048  0.372715 -0.692047
2013-01-05  1.296678 -1.152374  0.700991 -1.350380
2013-01-06  0.067571  1.199930  0.295533 -1.406341

In [40]:
df[df > 0]

                   A         B         C         D
2013-01-01  1.529070  0.504808       NaN  0.457691
2013-01-02       NaN  1.005173  0.725539       NaN
2013-01-03  1.964241       NaN  0.372715       NaN
2013-01-04       NaN  0.494479       NaN       NaN
2013-01-05  1.296678       NaN  0.700991       NaN
2013-01-06  0.067571  1.199930  0.295533       NaN

In [41]:
df2 = df.copy()

In [42]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [43]:
df2

                   A         B         C         D      E
2013-01-01  1.529070  0.504808 -0.301675  0.457691    one
2013-01-02 -0.895165  1.005173  0.725539 -1.090235    one
2013-01-03  1.964241 -0.037048  0.372715 -0.692047    two
2013-01-04 -0.103454  0.494479 -0.733502 -0.642855  three
2013-01-05  1.296678 -1.152374  0.700991 -1.350380   four
2013-01-06  0.067571  1.199930  0.295533 -1.406341  three

In [44]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  1.964241 -0.037048  0.372715 -0.692047   two
2013-01-05  1.296678 -1.152374  0.700991 -1.350380  four

In [45]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [46]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [47]:
df['F']=s1

In [48]:
df.at[dates[0],'A'] = 0

In [49]:
df.iat[0,1] = 0

In [50]:
df.loc[:, 'D'] = np.array([5] * len(df))

In [51]:
df

                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -0.301675  5 NaN
2013-01-02 -0.895165  1.005173  0.725539  5   1
2013-01-03  1.964241 -0.037048  0.372715  5   2
2013-01-04 -0.103454  0.494479 -0.733502  5   3
2013-01-05  1.296678 -1.152374  0.700991  5   4
2013-01-06  0.067571  1.199930  0.295533  5   5

In [52]:
df2 = df.copy()

In [53]:
df2[df2 > 0] = -df2

In [54]:
df2

                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -0.301675 -5 NaN
2013-01-02 -0.895165 -1.005173 -0.725539 -5  -1
2013-01-03 -1.964241 -0.037048 -0.372715 -5  -2
2013-01-04 -0.103454 -0.494479 -0.733502 -5  -3
2013-01-05 -1.296678 -1.152374 -0.700991 -5  -4
2013-01-06 -0.067571 -1.199930 -0.295533 -5  -5

In [55]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [56]:
df1.loc[dates[0]:dates[1], 'E'] = 1

In [57]:
df1

                   A         B         C  D   F   E
2013-01-01  0.000000  0.000000 -0.301675  5 NaN   1
2013-01-02 -0.895165  1.005173  0.725539  5   1   1
2013-01-03  1.964241 -0.037048  0.372715  5   2 NaN
2013-01-04 -0.103454  0.494479 -0.733502  5   3 NaN

In [58]:
df1.dropna(how='any')

                   A         B         C  D  F  E
2013-01-02 -0.895165  1.005173  0.725539  5  1  1

In [59]:
df1.fillna(value=5)

                   A         B         C  D  F  E
2013-01-01  0.000000  0.000000 -0.301675  5  5  1
2013-01-02 -0.895165  1.005173  0.725539  5  1  1
2013-01-03  1.964241 -0.037048  0.372715  5  2  5
2013-01-04 -0.103454  0.494479 -0.733502  5  3  5

In [60]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [61]:
df.mean()

A    0.388312
B    0.251693
C    0.176600
D    5.000000
F    3.000000
dtype: float64

In [62]:
df.mean(1)

2013-01-01    1.174581
2013-01-02    1.367109
2013-01-03    1.859982
2013-01-04    1.531505
2013-01-05    1.969059
2013-01-06    2.312607
Freq: D, dtype: float64

In [63]:
s = pd.Series([1,3,5,np.nan,6,9], index=dates).shift(2)

In [64]:
s

2013-01-01   NaN
2013-01-02   NaN
2013-01-03     1
2013-01-04     3
2013-01-05     5
2013-01-06   NaN
Freq: D, dtype: float64

In [65]:
df.sub(s, axis='index')

                   A         B         C   D   F
2013-01-01       NaN       NaN       NaN NaN NaN
2013-01-02       NaN       NaN       NaN NaN NaN
2013-01-03  0.964241 -1.037048 -0.627285   4   1
2013-01-04 -3.103454 -2.505521 -3.733502   2   0
2013-01-05 -3.703322 -6.152374 -4.299009   0  -1
2013-01-06       NaN       NaN       NaN NaN NaN

In [66]:
df.apply(np.cumsum)

                   A         B         C   D   F
2013-01-01  0.000000  0.000000 -0.301675   5 NaN
2013-01-02 -0.895165  1.005173  0.423864  10   1
2013-01-03  1.069076  0.968125  0.796579  15   3
2013-01-04  0.965622  1.462604  0.063077  20   6
2013-01-05  2.262300  0.310230  0.764069  25  10
2013-01-06  2.329871  1.510160  1.059601  30  15

In [67]:
df.apply(lambda x:x.max() - x.min())

A    2.859407
B    2.352304
C    1.459040
D    0.000000
F    4.000000
dtype: float64

In [68]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [69]:
s

0    6
1    3
2    1
3    6
4    6
5    6
6    1
7    6
8    0
9    5
dtype: int32

In [70]:
s.value_counts()

6    5
1    2
5    1
3    1
0    1
dtype: int64

In [71]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [72]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [73]:
df = pd.DataFrame(np.random.randn(10,4))

In [74]:
df

          0         1         2         3
0  0.695081 -1.453217  1.334690 -0.554511
1 -0.386635  0.663045  0.103006  1.387164
2 -1.057871 -0.524632 -1.488861  0.837655
3  0.751848 -1.375580  0.007169 -0.638248
4  0.680457  0.670593 -0.891796  1.531636
5  0.472104 -0.326321  0.028997 -1.104905
6 -0.173086 -1.168584 -0.974115  0.010916
7  1.066960 -0.180394  0.505264 -1.752023
8  1.711586 -0.565072  0.484884  0.912764
9  0.251446 -0.505551  1.392414  0.562855

In [75]:
pieces = [df[:3], df[3:7], df[7:]]

In [76]:
pd.concat(pieces)

          0         1         2         3
0  0.695081 -1.453217  1.334690 -0.554511
1 -0.386635  0.663045  0.103006  1.387164
2 -1.057871 -0.524632 -1.488861  0.837655
3  0.751848 -1.375580  0.007169 -0.638248
4  0.680457  0.670593 -0.891796  1.531636
5  0.472104 -0.326321  0.028997 -1.104905
6 -0.173086 -1.168584 -0.974115  0.010916
7  1.066960 -0.180394  0.505264 -1.752023
8  1.711586 -0.565072  0.484884  0.912764
9  0.251446 -0.505551  1.392414  0.562855

In [77]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval': [1, 2]})

In [78]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval':[4, 5]})

In [79]:
left

   key  lval
0  foo     1
1  foo     2

In [80]:
right

   key  rval
0  foo     4
1  foo     5

In [81]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [82]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [83]:
df

          A         B         C         D
0  0.046513 -0.615075  1.623022 -1.644834
1  0.212391 -0.274506 -0.332019 -0.035355
2  1.737838 -0.024228 -0.085012  0.596542
3 -2.683358 -0.901690  1.444096  1.015849
4  0.368553 -0.669258  0.109968  0.854860
5  0.555260 -0.996173  0.737505 -0.131147
6  0.579298  0.428257  1.014146  1.376704
7 -0.051947  0.918186  0.141427  0.608292

In [84]:
s = df.iloc[3]

In [85]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.046513 -0.615075  1.623022 -1.644834
1  0.212391 -0.274506 -0.332019 -0.035355
2  1.737838 -0.024228 -0.085012  0.596542
3 -2.683358 -0.901690  1.444096  1.015849
4  0.368553 -0.669258  0.109968  0.854860
5  0.555260 -0.996173  0.737505 -0.131147
6  0.579298  0.428257  1.014146  1.376704
7 -0.051947  0.918186  0.141427  0.608292
8 -2.683358 -0.901690  1.444096  1.015849

In [86]:
df = pd.DataFrame({'A':['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'B':['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C':np.random.randn(8),
                   'D':np.random.randn(8)})

In [87]:
df

     A      B         C         D
0  foo    one  0.947717  1.672205
1  bar    one  0.440188  0.712030
2  foo    two -0.010812 -0.170324
3  bar  three -0.290069  0.216974
4  foo    two -0.244541 -0.187863
5  bar    two -0.455305 -0.202810
6  foo    one -1.439607  0.207178
7  foo  three  0.659630  0.501104

In [88]:
df.groupby('A').sum()

            C         D
A
bar -0.305186  0.726194
foo -0.087612  2.022299

In [89]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one    0.440188  0.712030
    three -0.290069  0.216974
    two   -0.455305 -0.202810
foo one   -0.491890  1.879383
    three  0.659630  0.501104
    two   -0.255353 -0.358188

In [90]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]))

In [91]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [92]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [93]:
df2 = df[:4]

In [94]:
df2

                     A         B
first second
bar   one     0.449916  0.835960
      two    -1.458386 -0.556919
baz   one     0.119907 -0.186094
      two    -0.072833 -0.665121

In [95]:
stacked = df2.stack()

In [96]:
stacked

first  second
bar    one     A    0.449916
               B    0.835960
       two     A   -1.458386
               B   -0.556919
baz    one     A    0.119907
               B   -0.186094
       two     A   -0.072833
               B   -0.665121
dtype: float64

In [97]:
stacked.unstack()

                     A         B
first second
bar   one     0.449916  0.835960
      two    -1.458386 -0.556919
baz   one     0.119907 -0.186094
      two    -0.072833 -0.665121

In [98]:
stacked.unstack(1)

second        one       two
first
bar   A  0.449916 -1.458386
      B  0.835960 -0.556919
baz   A  0.119907 -0.072833
      B -0.186094 -0.665121

In [99]:
stacked.unstack(0)

first          bar       baz
second
one    A  0.449916  0.119907
       B  0.835960 -0.186094
two    A -1.458386 -0.072833
       B -0.556919 -0.665121

In [100]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})

In [101]:
df

        A  B    C         D         E
0     one  A  foo  1.414416  0.560186
1     one  B  foo -0.516005 -0.011707
2     two  C  foo  0.208585  0.872559
3   three  A  bar  0.188953  2.087528
4     one  B  bar  1.342913 -0.860075
5     one  C  bar -1.728181 -0.462918
6     two  A  foo -1.071640 -0.571764
7   three  B  foo  0.264676 -1.212051
8     one  C  foo  0.389560 -0.259510
9     one  A  bar  1.381360  1.378790
10    two  B  bar -0.021893 -0.574411
11  three  C  bar  0.558102  0.283694

In [102]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  1.381360  1.414416
      B  1.342913 -0.516005
      C -1.728181  0.389560
three A  0.188953       NaN
      B       NaN  0.264676
      C  0.558102       NaN
two   A       NaN -1.071640
      B -0.021893       NaN
      C       NaN  0.208585

In [103]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [104]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [105]:
ts.resample('5Min', how='sum')

2012-01-01    23022
Freq: 5T, dtype: int32

In [106]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [107]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [108]:
ts

2012-03-06    1.194177
2012-03-07    0.587171
2012-03-08   -0.282393
2012-03-09   -2.010891
2012-03-10   -1.319480
Freq: D, dtype: float64

In [109]:
ts_utc = ts.tz_localize('UTC')

In [110]:
ts_utc

2012-03-06 00:00:00+00:00    1.194177
2012-03-07 00:00:00+00:00    0.587171
2012-03-08 00:00:00+00:00   -0.282393
2012-03-09 00:00:00+00:00   -2.010891
2012-03-10 00:00:00+00:00   -1.319480
Freq: D, dtype: float64

In [111]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00    1.194177
2012-03-06 19:00:00-05:00    0.587171
2012-03-07 19:00:00-05:00   -0.282393
2012-03-08 19:00:00-05:00   -2.010891
2012-03-09 19:00:00-05:00   -1.319480
Freq: D, dtype: float64

In [112]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

In [113]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [114]:
ts

2012-01-31   -0.148288
2012-02-29   -0.725765
2012-03-31    0.050006
2012-04-30    0.662631
2012-05-31   -0.056398
Freq: M, dtype: float64

In [115]:
ps = ts.to_period()

In [116]:
ps

2012-01   -0.148288
2012-02   -0.725765
2012-03    0.050006
2012-04    0.662631
2012-05   -0.056398
Freq: M, dtype: float64

In [117]:
ps.to_timestamp()

2012-01-01   -0.148288
2012-02-01   -0.725765
2012-03-01    0.050006
2012-04-01    0.662631
2012-05-01   -0.056398
Freq: MS, dtype: float64

In [118]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [119]:
ts = pd.Series(np.random.randn(len(prng)), prng)

In [120]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9

In [121]:
ts.head()

1990-03-01 09:00    0.238345
1990-06-01 09:00    1.076196
1990-09-01 09:00   -0.774265
1990-12-01 09:00   -1.155918
1991-03-01 09:00   -0.774218
Freq: H, dtype: float64

In [122]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'c', 'd', 'e']})

In [123]:
df["grade"] = df["raw_grade"].astype("category")

In [124]:
df["grade"]

0    a
1    b
2    b
3    c
4    d
5    e
Name: grade, dtype: category
Categories (5, object): [a, b, c, d, e]

In [125]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

ValueError: new categories need to have the same number of items than the old categories!

In [126]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

ValueError: new categories need to have the same number of items than the old categories!

In [127]:
df["grade"]=df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])

In [128]:
df["grade"]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [129]:
df.sort("grade")

   id raw_grade grade
0   1         a   NaN
1   2         b   NaN
2   3         b   NaN
3   4         c   NaN
4   5         d   NaN
5   6         e   NaN

In [130]:
df.groupby("grade").size()

grade
very bad    NaN
bad         NaN
medium      NaN
good        NaN
very good   NaN
dtype: float64

In [131]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [132]:
ts = ts.cumsum()

In [133]:
ts.plot()

In [135]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index, columns=['A', 'B', 'C', 'D'])

In [136]:
df = df.cumsum()

In [137]:
plt.figure();df.plot();plt.legend(loc='best')

In [138]:
df.to_csv('foo.csv')

In [139]:
pd.read_csv('foo.csv')

     Unnamed: 0          A          B          C         D
0    2000-01-01   0.046598  -0.406122   2.159771 -1.053085
1    2000-01-02  -0.398791  -1.565207   2.878508 -1.307180
2    2000-01-03  -1.910522  -2.003428   2.958370 -2.341457
3    2000-01-04  -1.328594  -2.089168   1.563592 -1.133664
4    2000-01-05  -1.809560  -3.094991   0.558707 -1.787388
5    2000-01-06  -3.424982  -1.596539  -0.919209 -2.486492
6    2000-01-07  -3.262956  -3.370214  -0.031451 -3.156221
7    2000-01-08  -3.193540  -2.259768   1.901553 -3.486312
8    2000-01-09  -4.754564  -2.493238   3.316944 -2.564045
9    2000-01-10  -5.252126  -3.439862   5.036906 -2.915385
10   2000-01-11  -3.956208  -1.787566   7.014611 -4.202814
11   2000-01-12  -3.508838  -1.314172   6.951887 -4.414934
12   2000-01-13  -2.008585  -1.877030   8.193524 -4.610847
13   2000-01-14  -0.828703  -2.372787   8.665526 -5.298952
14   2000-01-15  -1.095400  -2.461520  10.344186 -5.298629
15   2000-01-16  -0.740164  -3.282246  10.509775 -4.551554
16   2000-01-17  -0.841752  -4.008297  12.834135 -5.746170
17   2000-01-18  -2.757646  -3.165437  13.828174 -4.954100
18   2000-01-19  -2.031352  -1.909692  14.989328 -6.189059
19   2000-01-20  -4.075554  -3.367009  16.009738 -5.853756
20   2000-01-21  -3.523847  -3.243268  16.543086 -6.195753
21   2000-01-22  -3.884396  -2.786942  16.866840 -6.496746
22   2000-01-23  -2.785324  -3.280165  15.562184 -6.803025
23   2000-01-24  -3.061274  -3.160533  15.898258 -6.899565
24   2000-01-25  -3.631363  -2.708066  15.974023 -4.680863
25   2000-01-26  -4.674586  -2.537521  14.730595 -4.516572
26   2000-01-27  -3.442941  -2.265696  15.531725 -4.747163
27   2000-01-28  -4.749637  -2.270022  15.520131 -5.045008
28   2000-01-29  -4.858721  -2.462853  16.328550 -4.540213
29   2000-01-30  -5.401692  -2.057118  15.826958 -7.523053
..          ...        ...        ...        ...       ...
970  2002-08-28 -14.507538   9.585482  14.028886  2.141263
971  2002-08-29 -15.651430  10.212092  13.201197  1.003895
972  2002-08-30 -14.993265   9.641638  13.558240  1.513140
973  2002-08-31 -16.077918   9.171597  14.029745  1.480162
974  2002-09-01 -16.066975  10.763477  14.264028  2.821409
975  2002-09-02 -16.513968   9.976674  13.734058  3.881296
976  2002-09-03 -15.444854   9.708298  14.637656  3.975013
977  2002-09-04 -13.871071  10.352173  15.323354  3.658523
978  2002-09-05 -15.118803  10.697570  14.630879  3.617209
979  2002-09-06 -12.778480  10.279246  14.814103  4.704549
980  2002-09-07 -14.272918  11.731559  15.822903  5.389755
981  2002-09-08 -12.397785  10.916571  16.945501  4.156057
982  2002-09-09 -11.891746  11.215754  17.881037  2.484025
983  2002-09-10 -11.119552  11.636945  17.669501  3.467557
984  2002-09-11  -9.468896  11.670459  16.489450  3.997742
985  2002-09-12  -6.980157  12.963472  17.967820  6.004092
986  2002-09-13  -8.500964  13.868033  18.639106  5.410055
987  2002-09-14  -8.839928  12.762611  17.307092  4.984608
988  2002-09-15 -11.223569  13.051389  18.414034  5.999739
989  2002-09-16  -9.784604  12.861384  18.531701  6.207056
990  2002-09-17  -9.972622  13.441747  19.061446  7.810216
991  2002-09-18  -8.562256  14.717268  20.522979  7.283802
992  2002-09-19  -6.930008  13.701239  19.328204  8.542344
993  2002-09-20  -6.631722  14.368949  19.018176  8.138665
994  2002-09-21  -5.954228  12.870660  19.825670  7.350002
995  2002-09-22  -6.417243  11.832604  19.347231  8.061912
996  2002-09-23  -7.594538  11.494312  18.057051  7.635450
997  2002-09-24  -6.143536  11.099391  15.551016  7.983239
998  2002-09-25  -6.659216  11.814370  15.633119  8.053574
999  2002-09-26  -7.082420  10.679168  16.020888  6.800818

[1000 rows x 5 columns]

In [141]:
df.to_hdf('foo.h5','df')

ImportError: HDFStore requires PyTables, "No module named tables" problem importing

In [142]:
pd.read_hdf('foo.h5', 'df')

IOError: File foo.h5 does not exist

In [143]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

ImportError: No module named openpyxl

In [144]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

ImportError: No module named xlrd

In [146]:
if pd.Series([False, True, False]):
    print("I was true")
    Traceback

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().